dataset/
datasetCoco/
datasetCocoTrainTest/
temp
YOLOv8/folds/
YOLOv8/GradCam/correct/separated/
FasterRCNN/k_fold_checkpoints/
FasterRCNN/app_result/__pycache__/
YOLOv8/app_result/__pycache__/
folds
__pycache__